(edif CDIV256
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2010 3 29 9 54 12)
      (author "Synopsys, Inc.")
      (program "Synplify" (version "D-2010.03, mapper map510rc, Build 068R"))
     )
   )
  (library VIRTEXR
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT6_L (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port I3 (direction INPUT))
           (port I4 (direction INPUT))
           (port I5 (direction INPUT))
           (port LO (direction OUTPUT))
         )
       )
    )
  )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell LUT1_L (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port LO (direction OUTPUT))
         )
       )
    )
    (cell LUT1 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell XORCY (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port LI (direction INPUT))
           (port CI (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell MUXCY_L (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port DI (direction INPUT))
           (port CI (direction INPUT))
           (port S (direction INPUT))
           (port LO (direction OUTPUT))
         )
       )
    )
  )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FD (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
         )
        (property INIT (integer 0))
       )
    )
    (cell FDC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
           (port CLR (direction INPUT))
         )
        (property INIT (integer 0))
       )
    )
    (cell GND (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port G (direction OUTPUT))
         )
       )
    )
    (cell VCC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port P (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell CDIV256 (cellType GENERIC)
       (view stimulus (viewType NETLIST)
         (interface
           (port CLKIN (direction INPUT)
 )
           (port CLKDV (direction OUTPUT))
         )
         (contents
          (instance GND (viewRef PRIM (cellRef GND (libraryRef UNILIB)))          )
          (instance VCC (viewRef PRIM (cellRef VCC (libraryRef UNILIB)))          )
          (instance OutState (viewRef PRIM (cellRef FDC (libraryRef UNILIB)))
           (property INIT (string "0"))
          )
          (instance (rename i_0 "i[0]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_1 "i[1]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_2 "i[2]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_3 "i[3]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_4 "i[4]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_5 "i[5]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_6 "i[6]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_7 "i[7]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance un1_i (viewRef PRIM (cellRef LUT6_L (libraryRef VIRTEXR)))
           (property INIT (string "0001000000000000"))
          )
          (instance (rename i_RNI45R1_1 "i_RNI45R1[1]") (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "1"))
          )
          (instance (rename i_RNI59R1_2 "i_RNI59R1[2]") (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "1"))
          )
          (instance (rename i_RNI6DR1_3 "i_RNI6DR1[3]") (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "1"))
          )
          (instance (rename i_RNI7HR1_4 "i_RNI7HR1[4]") (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "1"))
          )
          (instance (rename i_RNI8LR1_5 "i_RNI8LR1[5]") (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "1"))
          )
          (instance (rename i_RNI9PR1_6 "i_RNI9PR1[6]") (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "1"))
          )
          (instance (rename i_s_RNO_7 "i_s_RNO[7]") (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "1"))
          )
          (instance (rename i_RNI31R1_0 "i_RNI31R1[0]") (viewRef PRIM (cellRef LUT1 (libraryRef VIRTEX)))
           (property INIT (string "1"))
          )
          (instance un1_i_1 (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property INIT (string "1"))
          )
          (instance un1_i_0_0 (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property INIT (string "1"))
          )
          (instance (rename i_s_7 "i_s[7]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))          )
          (instance (rename i_s_6 "i_s[6]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))
          )
          (instance (rename i_cry_6 "i_cry[6]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance (rename i_s_5 "i_s[5]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))
          )
          (instance (rename i_cry_5 "i_cry[5]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance (rename i_s_4 "i_s[4]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))
          )
          (instance (rename i_cry_4 "i_cry[4]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance (rename i_s_3 "i_s[3]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))
          )
          (instance (rename i_cry_3 "i_cry[3]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance (rename i_s_2 "i_s[2]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))
          )
          (instance (rename i_cry_2 "i_cry[2]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance (rename i_s_1 "i_s[1]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))
          )
          (instance (rename i_cry_1 "i_cry[1]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance (rename i_cry_0 "i_cry[0]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (net (rename clkin "CLKIN") (joined
           (portRef CLKIN)
           (portRef C (instanceRef i_7))
           (portRef C (instanceRef i_6))
           (portRef C (instanceRef i_5))
           (portRef C (instanceRef i_4))
           (portRef C (instanceRef i_3))
           (portRef C (instanceRef i_2))
           (portRef C (instanceRef i_1))
           (portRef C (instanceRef i_0))
           (portRef C (instanceRef OutState))
          ))
          (net (rename iZ0Z_0 "i(0)") (joined
           (portRef Q (instanceRef i_0))
           (portRef I0 (instanceRef i_RNI31R1_0))
           (portRef I0 (instanceRef un1_i))
          ))
          (net (rename iZ0Z_1 "i(1)") (joined
           (portRef Q (instanceRef i_1))
           (portRef I0 (instanceRef un1_i_0_0))
           (portRef I0 (instanceRef i_RNI45R1_1))
          ))
          (net (rename iZ0Z_2 "i(2)") (joined
           (portRef Q (instanceRef i_2))
           (portRef I0 (instanceRef i_RNI59R1_2))
           (portRef I1 (instanceRef un1_i))
          ))
          (net (rename iZ0Z_3 "i(3)") (joined
           (portRef Q (instanceRef i_3))
           (portRef I0 (instanceRef i_RNI6DR1_3))
           (portRef I2 (instanceRef un1_i))
          ))
          (net (rename iZ0Z_4 "i(4)") (joined
           (portRef Q (instanceRef i_4))
           (portRef I0 (instanceRef un1_i_1))
           (portRef I0 (instanceRef i_RNI7HR1_4))
          ))
          (net (rename iZ0Z_5 "i(5)") (joined
           (portRef Q (instanceRef i_5))
           (portRef I1 (instanceRef un1_i_1))
           (portRef I0 (instanceRef i_RNI8LR1_5))
          ))
          (net (rename iZ0Z_6 "i(6)") (joined
           (portRef Q (instanceRef i_6))
           (portRef I0 (instanceRef i_RNI9PR1_6))
           (portRef I3 (instanceRef un1_i))
          ))
          (net (rename iZ0Z_7 "i(7)") (joined
           (portRef Q (instanceRef i_7))
           (portRef I1 (instanceRef un1_i_0_0))
           (portRef I0 (instanceRef i_s_RNO_7))
          ))
          (net (rename VCCZ0 "VCC") (joined
           (portRef P (instanceRef VCC))
           (portRef DI (instanceRef i_cry_0))
           (portRef DI (instanceRef i_cry_1))
           (portRef DI (instanceRef i_cry_2))
           (portRef DI (instanceRef i_cry_3))
           (portRef DI (instanceRef i_cry_4))
           (portRef DI (instanceRef i_cry_5))
           (portRef DI (instanceRef i_cry_6))
          ))
          (net (rename GNDZ0 "GND") (joined
           (portRef G (instanceRef GND))
           (portRef CI (instanceRef i_cry_0))
           (portRef CLR (instanceRef OutState))
          ))
          (net (rename un1_iZ0 "un1_i") (joined
           (portRef LO (instanceRef un1_i))
           (portRef D (instanceRef OutState))
          ))
          (net (rename i_cryZ0Z_0 "i_cry(0)") (joined
           (portRef LO (instanceRef i_cry_0))
           (portRef CI (instanceRef i_cry_1))
           (portRef CI (instanceRef i_s_1))
          ))
          (net (rename i_s_0 "i_s(0)") (joined
           (portRef O (instanceRef i_RNI31R1_0))
           (portRef S (instanceRef i_cry_0))
           (portRef D (instanceRef i_0))
          ))
          (net (rename i_cryZ0Z_1 "i_cry(1)") (joined
           (portRef LO (instanceRef i_cry_1))
           (portRef CI (instanceRef i_cry_2))
           (portRef CI (instanceRef i_s_2))
          ))
          (net (rename i_sZ0Z_1 "i_s(1)") (joined
           (portRef O (instanceRef i_s_1))
           (portRef D (instanceRef i_1))
          ))
          (net (rename i_cryZ0Z_2 "i_cry(2)") (joined
           (portRef LO (instanceRef i_cry_2))
           (portRef CI (instanceRef i_cry_3))
           (portRef CI (instanceRef i_s_3))
          ))
          (net (rename i_sZ0Z_2 "i_s(2)") (joined
           (portRef O (instanceRef i_s_2))
           (portRef D (instanceRef i_2))
          ))
          (net (rename i_cryZ0Z_3 "i_cry(3)") (joined
           (portRef LO (instanceRef i_cry_3))
           (portRef CI (instanceRef i_cry_4))
           (portRef CI (instanceRef i_s_4))
          ))
          (net (rename i_sZ0Z_3 "i_s(3)") (joined
           (portRef O (instanceRef i_s_3))
           (portRef D (instanceRef i_3))
          ))
          (net (rename i_cryZ0Z_4 "i_cry(4)") (joined
           (portRef LO (instanceRef i_cry_4))
           (portRef CI (instanceRef i_cry_5))
           (portRef CI (instanceRef i_s_5))
          ))
          (net (rename i_sZ0Z_4 "i_s(4)") (joined
           (portRef O (instanceRef i_s_4))
           (portRef D (instanceRef i_4))
          ))
          (net (rename i_cryZ0Z_5 "i_cry(5)") (joined
           (portRef LO (instanceRef i_cry_5))
           (portRef CI (instanceRef i_cry_6))
           (portRef CI (instanceRef i_s_6))
          ))
          (net (rename i_sZ0Z_5 "i_s(5)") (joined
           (portRef O (instanceRef i_s_5))
           (portRef D (instanceRef i_5))
          ))
          (net (rename i_cryZ0Z_6 "i_cry(6)") (joined
           (portRef LO (instanceRef i_cry_6))
           (portRef CI (instanceRef i_s_7))
          ))
          (net (rename i_sZ0Z_6 "i_s(6)") (joined
           (portRef O (instanceRef i_s_6))
           (portRef D (instanceRef i_6))
          ))
          (net (rename i_sZ0Z_7 "i_s(7)") (joined
           (portRef O (instanceRef i_s_7))
           (portRef D (instanceRef i_7))
          ))
          (net (rename un1_i_0Z0Z_0 "un1_i_0_0") (joined
           (portRef O (instanceRef un1_i_0_0))
           (portRef I4 (instanceRef un1_i))
          ))
          (net (rename un1_iZ0Z_1 "un1_i_1") (joined
           (portRef O (instanceRef un1_i_1))
           (portRef I5 (instanceRef un1_i))
          ))
          (net (rename i_s_sf_7 "i_s_sf(7)") (joined
           (portRef LO (instanceRef i_s_RNO_7))
           (portRef LI (instanceRef i_s_7))
          ))
          (net (rename i_s_sf_6 "i_s_sf(6)") (joined
           (portRef LO (instanceRef i_RNI9PR1_6))
           (portRef S (instanceRef i_cry_6))
           (portRef LI (instanceRef i_s_6))
          ))
          (net (rename i_s_sf_5 "i_s_sf(5)") (joined
           (portRef LO (instanceRef i_RNI8LR1_5))
           (portRef S (instanceRef i_cry_5))
           (portRef LI (instanceRef i_s_5))
          ))
          (net (rename i_s_sf_4 "i_s_sf(4)") (joined
           (portRef LO (instanceRef i_RNI7HR1_4))
           (portRef S (instanceRef i_cry_4))
           (portRef LI (instanceRef i_s_4))
          ))
          (net (rename i_s_sf_3 "i_s_sf(3)") (joined
           (portRef LO (instanceRef i_RNI6DR1_3))
           (portRef S (instanceRef i_cry_3))
           (portRef LI (instanceRef i_s_3))
          ))
          (net (rename i_s_sf_2 "i_s_sf(2)") (joined
           (portRef LO (instanceRef i_RNI59R1_2))
           (portRef S (instanceRef i_cry_2))
           (portRef LI (instanceRef i_s_2))
          ))
          (net (rename i_s_sf_1 "i_s_sf(1)") (joined
           (portRef LO (instanceRef i_RNI45R1_1))
           (portRef S (instanceRef i_cry_1))
           (portRef LI (instanceRef i_s_1))
          ))
          (net (rename clkdv "CLKDV") (joined
           (portRef Q (instanceRef OutState))
           (portRef CLKDV)
          ))
         )
       )
    )
  )
  (design CDIV256 (cellRef CDIV256 (libraryRef work))
	(property PART (string "xc6slx9csg225-2") (owner "Xilinx")))
)
