(edif CDIV2
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2010 3 29 9 51 58)
      (author "Synopsys, Inc.")
      (program "Synplify" (version "D-2010.03, mapper map510rc, Build 068R"))
     )
   )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT2_L (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port LO (direction OUTPUT))
         )
       )
    )
    (cell LUT1_L (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port LO (direction OUTPUT))
         )
       )
    )
  )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FD (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
         )
        (property INIT (integer 0))
       )
    )
    (cell FDC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
           (port CLR (direction INPUT))
         )
        (property INIT (integer 0))
       )
    )
    (cell GND (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port G (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell CDIV2 (cellType GENERIC)
       (view stimulus (viewType NETLIST)
         (interface
           (port CLKIN (direction INPUT)
 )
           (port CLKDV (direction OUTPUT))
         )
         (contents
          (instance GND (viewRef PRIM (cellRef GND (libraryRef UNILIB)))          )
          (instance OutState (viewRef PRIM (cellRef FDC (libraryRef UNILIB)))
           (property INIT (string "0"))
          )
          (instance (rename i_0 "i[0]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_1 "i[1]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance un1_i (viewRef PRIM (cellRef LUT2_L (libraryRef VIRTEX)))
           (property INIT (string "1"))
          )
          (instance (rename i_i_0 "i_i[0]") (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "1"))
          )
          (instance (rename i_3_1 "i_3[1]") (viewRef PRIM (cellRef LUT2_L (libraryRef VIRTEX)))
           (property INIT (string "8"))
          )
          (net (rename clkin "CLKIN") (joined
           (portRef CLKIN)
           (portRef C (instanceRef i_1))
           (portRef C (instanceRef i_0))
           (portRef C (instanceRef OutState))
          ))
          (net (rename iZ0Z_0 "i(0)") (joined
           (portRef Q (instanceRef i_0))
           (portRef I1 (instanceRef i_3_1))
           (portRef I0 (instanceRef i_i_0))
           (portRef I1 (instanceRef un1_i))
          ))
          (net (rename iZ0Z_1 "i(1)") (joined
           (portRef Q (instanceRef i_1))
           (portRef I0 (instanceRef i_3_1))
           (portRef I0 (instanceRef un1_i))
          ))
          (net (rename GNDZ0 "GND") (joined
           (portRef G (instanceRef GND))
           (portRef CLR (instanceRef OutState))
          ))
          (net un1_i_0 (joined
           (portRef LO (instanceRef un1_i))
           (portRef D (instanceRef OutState))
          ))
          (net (rename i_3Z0Z_1 "i_3(1)") (joined
           (portRef LO (instanceRef i_3_1))
           (portRef D (instanceRef i_1))
          ))
          (net (rename i_iZ0Z_0 "i_i(0)") (joined
           (portRef LO (instanceRef i_i_0))
           (portRef D (instanceRef i_0))
          ))
          (net (rename clkdv "CLKDV") (joined
           (portRef Q (instanceRef OutState))
           (portRef CLKDV)
          ))
         )
       )
    )
  )
  (design CDIV2 (cellRef CDIV2 (libraryRef work))
	(property PART (string "xc6slx9csg225-2") (owner "Xilinx")))
)
