(edif CDIV5
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2010 3 29 9 57 45)
      (author "Synopsys, Inc.")
      (program "Synplify" (version "D-2010.03, mapper map510rc, Build 068R"))
     )
   )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT3_L (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port LO (direction OUTPUT))
         )
       )
    )
    (cell LUT3 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell LUT2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell LUT1_L (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port LO (direction OUTPUT))
         )
       )
    )
  )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FDR (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
           (port R (direction INPUT))
         )
        (property INIT (integer 0))
       )
    )
    (cell FD (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
         )
        (property INIT (integer 0))
       )
    )
    (cell FDC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
           (port CLR (direction INPUT))
         )
        (property INIT (integer 0))
       )
    )
    (cell GND (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port G (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell CDIV5 (cellType GENERIC)
       (view stimulus (viewType NETLIST)
         (interface
           (port CLKIN (direction INPUT)
 )
           (port CLKDV (direction OUTPUT))
         )
         (contents
          (instance GND (viewRef PRIM (cellRef GND (libraryRef UNILIB)))          )
          (instance OutState (viewRef PRIM (cellRef FDC (libraryRef UNILIB)))
           (property INIT (string "0"))
          )
          (instance (rename i_2 "i[2]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_0 "i[0]") (viewRef PRIM (cellRef FDR (libraryRef UNILIB)))
          )
          (instance (rename i_1 "i[1]") (viewRef PRIM (cellRef FDR (libraryRef UNILIB)))
          )
          (instance un5_i_axbxc2 (viewRef PRIM (cellRef LUT3_L (libraryRef VIRTEX)))
           (property INIT (string "A9"))
          )
          (instance (rename i_RNO_0 "i_RNO[0]") (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "1"))
          )
          (instance un1_i_lut6_2_o6 (viewRef PRIM (cellRef LUT3 (libraryRef VIRTEX)))
           (property INIT (string "01"))
           (property HLUTNM (string "CDIV5_lutnm000101"))
          )
          (instance un1_i_lut6_2_o5 (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property INIT (string "9"))
           (property HLUTNM (string "CDIV5_lutnm000101"))
          )
          (net (rename clkin "CLKIN") (joined
           (portRef CLKIN)
           (portRef C (instanceRef i_1))
           (portRef C (instanceRef i_0))
           (portRef C (instanceRef i_2))
           (portRef C (instanceRef OutState))
          ))
          (net (rename iZ0Z_0 "i(0)") (joined
           (portRef Q (instanceRef i_0))
           (portRef I1 (instanceRef un1_i_lut6_2_o5))
           (portRef I2 (instanceRef un1_i_lut6_2_o6))
           (portRef I0 (instanceRef i_RNO_0))
           (portRef I2 (instanceRef un5_i_axbxc2))
          ))
          (net (rename iZ0Z_1 "i(1)") (joined
           (portRef Q (instanceRef i_1))
           (portRef I0 (instanceRef un1_i_lut6_2_o5))
           (portRef I1 (instanceRef un1_i_lut6_2_o6))
           (portRef I1 (instanceRef un5_i_axbxc2))
          ))
          (net (rename iZ0Z_2 "i(2)") (joined
           (portRef Q (instanceRef i_2))
           (portRef I0 (instanceRef un1_i_lut6_2_o6))
           (portRef I0 (instanceRef un5_i_axbxc2))
          ))
          (net (rename GNDZ0 "GND") (joined
           (portRef G (instanceRef GND))
           (portRef CLR (instanceRef OutState))
          ))
          (net (rename un1_i_lut6_2_OZ0Z5 "un1_i_lut6_2_O5") (joined
           (portRef O (instanceRef un1_i_lut6_2_o5))
           (portRef D (instanceRef i_1))
          ))
          (net (rename un5_i_axbxcZ0Z2 "un5_i_axbxc2") (joined
           (portRef LO (instanceRef un5_i_axbxc2))
           (portRef D (instanceRef i_2))
          ))
          (net (rename un1_i_lut6_2_OZ0Z6 "un1_i_lut6_2_O6") (joined
           (portRef O (instanceRef un1_i_lut6_2_o6))
           (portRef R (instanceRef i_1))
           (portRef R (instanceRef i_0))
           (portRef D (instanceRef OutState))
          ))
          (net (rename i_i_0 "i_i(0)") (joined
           (portRef LO (instanceRef i_RNO_0))
           (portRef D (instanceRef i_0))
          ))
          (net (rename clkdv "CLKDV") (joined
           (portRef Q (instanceRef OutState))
           (portRef CLKDV)
          ))
         )
       )
    )
  )
  (design CDIV5 (cellRef CDIV5 (libraryRef work))
	(property PART (string "xc6slx9csg225-2") (owner "Xilinx")))
)
