NET "SPI_EC_SEL" LOC=T9;
NET "SPI_EC_DOUT" LOC=T7;
NET "SPI_EC_DIN" LOC=M7;
NET "SPI_EC_CLK" LOC=R7;
NET "SPI_ADC1_SEL" LOC=C7;
NET "SPI_ADC1_DOUT" LOC=E6;
NET "SPI_ADC1_DIN" LOC=F7;
NET "SPI_ADC1_CLK" LOC=A6;
NET "SPI_ADC0_SEL" LOC=C5;
NET "SPI_ADC0_DOUT" LOC=D5;
NET "SPI_ADC0_DIN" LOC=A5;
NET "SPI_ADC0_CLK" LOC=B5;
NET "SPARE_DO_4" LOC=E11;
NET "SPARE_DO_3" LOC=F10;
NET "SPARE_DO_2" LOC=A13;
NET "SPARE_DO_1" LOC=C13;
NET "SPARE_DI_4" LOC=D12;
NET "SPARE_DI_3" LOC=D11;
NET "SPARE_DI_2" LOC=A14;
NET "SPARE_DI_1" LOC=B14;
NET "M3_RESET_CD" LOC=E2;
NET "M3_PWM_B" LOC=K5;
NET "M3_PWM_A" LOC=E1;
NET "M2_RESET_AB" LOC=J1;
NET "M2_PWM_B" LOC=G3;
NET "M2_PWM_A" LOC=H1;
NET "M2_3_MODE2" LOC=J6;
NET "M2_3_MODE1" LOC=J4;
NET "M1_RESET_CD" LOC=R2;
NET "M1_RESET_AB" LOC=N4;
NET "M1_PWM_D" LOC=N3;
NET "M1_PWM_C" LOC=P1;
NET "M1_PWM_B" LOC=P2;
NET "M1_PWM_A" LOC=R1;
NET "M1_MODE2" LOC=L3;
NET "M1_MODE1" LOC=M1;
NET "JTAG_NEXUS_TMS" LOC=C1;
NET "JTAG_NEXUS_TDO" LOC=B1;
NET "JTAG_NEXUS_TDI" LOC=G6;
NET "JTAG_NEXUS_TCK" LOC=G5;
NET "JTAG_NEXUS_TCK" TNM_NET = "TNM_JTAG_NEXUS_TCK";
TIMESPEC "TS_JTAG_NEXUS_TCK" = PERIOD "TNM_JTAG_NEXUS_TCK" 1 MHz HIGH 50%;
NET "FRUN" LOC=D6;
NET "F_S" LOC=T3;
NET "F_DQ3" LOC=P12;
NET "F_DQ2" LOC=N12;
NET "F_DQ1" LOC=P10;
NET "F_DQ0" LOC=T10;
NET "F_CLK" LOC=R11;
NET "ENC_3_YP" LOC=H3;
NET "ENC_3_XP" LOC=H4;
NET "ENC_2_YP" LOC=K1;
NET "ENC_2_XP" LOC=K2;
NET "ENC_1_YP" LOC=M3;
NET "ENC_1_XP" LOC=M4;
NET "ECAT_RESET" LOC=P9;
NET "ECAT_PERR1" LOC=P6;
NET "ECAT_PERR0" LOC=T6;
NET "ECAT_CLK" LOC=T8;
NET "DAC_SYNC" LOC=R14;
NET "DAC_SCK" LOC=T13;
NET "DAC_MOSI" LOC=R12;
NET "DAC_MISO" LOC=T15;
NET "DAC_LDAC" LOC=T14;
NET "DAC_CLR" LOC=T12;
NET "CLK_BRD" LOC=P8;
NET "CLK_BRD" TNM_NET = "TNM_CLK_BRD";
TIMESPEC "TS_CLK_BRD" = PERIOD "TNM_CLK_BRD" 50 MHz HIGH 50%;
