(edif FPGA_STARTUP8
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2010 6 8 8 55 55)
      (author "Synopsys, Inc.")
      (program "Synplify" (version "D-2010.03-SP1, mapper map520rc, Build 073R"))
      (comment "Core Revision: 1.00.00")
     )
   )
  (library VIRTEXR
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT6 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port I3 (direction INPUT))
           (port I4 (direction INPUT))
           (port I5 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT4 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port I3 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell LUT1_L (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port LO (direction OUTPUT))
         )
       )
    )
    (cell XORCY (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port LI (direction INPUT))
           (port CI (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell MUXCY_L (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port DI (direction INPUT))
           (port CI (direction INPUT))
           (port S (direction INPUT))
           (port LO (direction OUTPUT))
         )
       )
    )
    (cell MUXCY (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port DI (direction INPUT))
           (port CI (direction INPUT))
           (port S (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FD (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
         )
        (property INIT (integer 0))
       )
    )
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell GND (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port G (direction OUTPUT))
         )
       )
    )
    (cell VCC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port P (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FPGA_STARTUP8_CTRL (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port (array (rename DELAY "DELAY(7:0)") 8) (direction INPUT))
           (port CLK (direction INPUT))
           (port INIT (direction OUTPUT))
         )
         (contents
          (instance drt_count_2_df0 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "8421"))
          )
          (instance drt_count_2_df2 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "8421"))
          )
          (instance drt_count_2_df4 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "8421"))
          )
          (instance drt_count_2_df6 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "8421"))
          )
          (instance un9_drt_count_0_I_31 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "8421"))
          )
          (instance reset_RNITID7 (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename drt_count_2 "drt_count[2]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename drt_count_3 "drt_count[3]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename drt_count_4 "drt_count[4]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename drt_count_5 "drt_count[5]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename drt_count_6 "drt_count[6]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename drt_count_7 "drt_count[7]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance reset (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename drt_count_0 "drt_count[0]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename drt_count_1 "drt_count[1]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance un9_drt_count_0_I_23 (viewRef PRIM (cellRef MUXCY (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_axb_2 (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "2"))
          )
          (instance drt_count_2_1_axb_3 (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "2"))
          )
          (instance drt_count_2_1_axb_4 (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "2"))
          )
          (instance drt_count_2_1_axb_5 (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "2"))
          )
          (instance drt_count_2_1_axb_6 (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "2"))
          )
          (instance drt_count_2_1_axb_7 (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "2"))
          )
          (instance drt_count_2_1_axb_0 (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "2"))
          )
          (instance drt_count_2_1_axb_1 (viewRef PRIM (cellRef LUT1_L (libraryRef VIRTEX)))
           (property INIT (string "2"))
          )
          (instance un9_drt_count_0_I_11 (viewRef PRIM (cellRef LUT6 (libraryRef VIRTEXR)))
           (property INIT (string "8040201008040201"))
          )
          (instance un9_drt_count_0_I_22 (viewRef PRIM (cellRef LUT6 (libraryRef VIRTEXR)))
           (property INIT (string "8040201008040201"))
          )
          (instance drt_count_2_1_s_7 (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))          )
          (instance drt_count_2_1_s_6 (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_cry_6 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_s_5 (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_cry_5 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_s_4 (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_cry_4 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_s_3 (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_cry_3 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_s_2 (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_cry_2 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_s_1 (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_cry_1 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_s_0 (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))
          )
          (instance drt_count_2_1_cry_0 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance (rename drt_count_2_cry_6 "drt_count_2_cry[6]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance drt_count_2_lt6 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "08CE"))
          )
          (instance (rename drt_count_2_cry_4 "drt_count_2_cry[4]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance drt_count_2_lt4 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "08CE"))
          )
          (instance (rename drt_count_2_cry_2 "drt_count_2_cry[2]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance drt_count_2_lt2 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "08CE"))
          )
          (instance (rename drt_count_2_cry_0 "drt_count_2_cry[0]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance drt_count_2_lt0 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "08CE"))
          )
          (instance un9_drt_count_0_I_12 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance un9_drt_count_0_I_1 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))
          )
          (instance GND (viewRef PRIM (cellRef GND (libraryRef UNILIB)))          )
          (instance VCC (viewRef PRIM (cellRef VCC (libraryRef UNILIB)))          )
          (net (rename drt_count_1_0 "drt_count_1(0)") (joined
           (portRef I2 (instanceRef drt_count_2_lt0))
           (portRef I3 (instanceRef un9_drt_count_0_I_11))
           (portRef I0 (instanceRef drt_count_2_1_axb_0))
           (portRef I2 (instanceRef drt_count_2_df0))
           (portRef Q (instanceRef drt_count_0))
           )
          )
          (net (rename drt_count_1_1 "drt_count_1(1)") (joined
           (portRef I3 (instanceRef drt_count_2_lt0))
           (portRef I4 (instanceRef un9_drt_count_0_I_11))
           (portRef I0 (instanceRef drt_count_2_1_axb_1))
           (portRef I3 (instanceRef drt_count_2_df0))
           (portRef Q (instanceRef drt_count_1))
           )
          )
          (net (rename drt_count_2_dfZ0Z0 "drt_count_2_df0") (joined
           (portRef O (instanceRef drt_count_2_df0))
           (portRef S (instanceRef drt_count_2_cry_0))
          ))
          (net (rename drt_count_1_2 "drt_count_1(2)") (joined
           (portRef I2 (instanceRef drt_count_2_lt2))
           (portRef I5 (instanceRef un9_drt_count_0_I_11))
           (portRef I0 (instanceRef drt_count_2_1_axb_2))
           (portRef I2 (instanceRef drt_count_2_df2))
           (portRef Q (instanceRef drt_count_2))
           )
          )
          (net (rename drt_count_1_3 "drt_count_1(3)") (joined
           (portRef I3 (instanceRef drt_count_2_lt2))
           (portRef I3 (instanceRef un9_drt_count_0_I_22))
           (portRef I0 (instanceRef drt_count_2_1_axb_3))
           (portRef I3 (instanceRef drt_count_2_df2))
           (portRef Q (instanceRef drt_count_3))
           )
          )
          (net (rename drt_count_2_dfZ0Z2 "drt_count_2_df2") (joined
           (portRef O (instanceRef drt_count_2_df2))
           (portRef S (instanceRef drt_count_2_cry_2))
          ))
          (net (rename drt_count_1_4 "drt_count_1(4)") (joined
           (portRef I2 (instanceRef drt_count_2_lt4))
           (portRef I4 (instanceRef un9_drt_count_0_I_22))
           (portRef I0 (instanceRef drt_count_2_1_axb_4))
           (portRef I2 (instanceRef drt_count_2_df4))
           (portRef Q (instanceRef drt_count_4))
           )
          )
          (net (rename drt_count_1_5 "drt_count_1(5)") (joined
           (portRef I3 (instanceRef drt_count_2_lt4))
           (portRef I5 (instanceRef un9_drt_count_0_I_22))
           (portRef I0 (instanceRef drt_count_2_1_axb_5))
           (portRef I3 (instanceRef drt_count_2_df4))
           (portRef Q (instanceRef drt_count_5))
           )
          )
          (net (rename drt_count_2_dfZ0Z4 "drt_count_2_df4") (joined
           (portRef O (instanceRef drt_count_2_df4))
           (portRef S (instanceRef drt_count_2_cry_4))
          ))
          (net (rename drt_count_1_6 "drt_count_1(6)") (joined
           (portRef I2 (instanceRef drt_count_2_lt6))
           (portRef I0 (instanceRef drt_count_2_1_axb_6))
           (portRef I2 (instanceRef un9_drt_count_0_I_31))
           (portRef I2 (instanceRef drt_count_2_df6))
           (portRef Q (instanceRef drt_count_6))
           )
          )
          (net (rename drt_count_1_7 "drt_count_1(7)") (joined
           (portRef I3 (instanceRef drt_count_2_lt6))
           (portRef I0 (instanceRef drt_count_2_1_axb_7))
           (portRef I3 (instanceRef un9_drt_count_0_I_31))
           (portRef I3 (instanceRef drt_count_2_df6))
           (portRef Q (instanceRef drt_count_7))
           )
          )
          (net (rename drt_count_2_dfZ0Z6 "drt_count_2_df6") (joined
           (portRef O (instanceRef drt_count_2_df6))
           (portRef S (instanceRef drt_count_2_cry_6))
          ))
          (net (rename delay_6 "DELAY(6)") (joined
           (portRef (member DELAY 1))
           (portRef I0 (instanceRef drt_count_2_lt6))
           (portRef I0 (instanceRef un9_drt_count_0_I_31))
           (portRef I0 (instanceRef drt_count_2_df6))
          ))
          (net (rename delay_7 "DELAY(7)") (joined
           (portRef (member DELAY 0))
           (portRef I1 (instanceRef drt_count_2_lt6))
           (portRef I1 (instanceRef un9_drt_count_0_I_31))
           (portRef I1 (instanceRef drt_count_2_df6))
          ))
          (net un9_drt_count_0_N_4 (joined
           (portRef O (instanceRef un9_drt_count_0_I_31))
           (portRef S (instanceRef un9_drt_count_0_I_23))
          ))
          (net (rename resetZ0 "reset") (joined
           (portRef Q (instanceRef reset))
           (portRef I (instanceRef reset_RNITID7))
          ))
          (net (rename init "INIT") (joined
           (portRef O (instanceRef reset_RNITID7))
           (portRef INIT)
          ))
          (net (rename drt_count_2_1_2 "drt_count_2_1(2)") (joined
           (portRef O (instanceRef drt_count_2_1_s_2))
           (portRef D (instanceRef drt_count_2))
          ))
          (net (rename drt_count_2_1_3 "drt_count_2_1(3)") (joined
           (portRef O (instanceRef drt_count_2_1_s_3))
           (portRef D (instanceRef drt_count_3))
          ))
          (net (rename clk "CLK") (joined
           (portRef CLK)
           (portRef C (instanceRef drt_count_1))
           (portRef C (instanceRef drt_count_0))
           (portRef C (instanceRef reset))
           (portRef C (instanceRef drt_count_7))
           (portRef C (instanceRef drt_count_6))
           (portRef C (instanceRef drt_count_5))
           (portRef C (instanceRef drt_count_4))
           (portRef C (instanceRef drt_count_3))
           (portRef C (instanceRef drt_count_2))
          ))
          (net (rename drt_count_2_1_4 "drt_count_2_1(4)") (joined
           (portRef O (instanceRef drt_count_2_1_s_4))
           (portRef D (instanceRef drt_count_4))
          ))
          (net (rename drt_count_2_1_5 "drt_count_2_1(5)") (joined
           (portRef O (instanceRef drt_count_2_1_s_5))
           (portRef D (instanceRef drt_count_5))
          ))
          (net (rename drt_count_2_1_6 "drt_count_2_1(6)") (joined
           (portRef O (instanceRef drt_count_2_1_s_6))
           (portRef D (instanceRef drt_count_6))
          ))
          (net (rename drt_count_2_1_7 "drt_count_2_1(7)") (joined
           (portRef O (instanceRef drt_count_2_1_s_7))
           (portRef D (instanceRef drt_count_7))
          ))
          (net (rename un9_drt_count_0_IZ0Z_23 "un9_drt_count_0_I_23") (joined
           (portRef O (instanceRef un9_drt_count_0_I_23))
           (portRef D (instanceRef reset))
          ))
          (net (rename drt_count_2_1_0 "drt_count_2_1(0)") (joined
           (portRef O (instanceRef drt_count_2_1_s_0))
           (portRef D (instanceRef drt_count_0))
          ))
          (net (rename drt_count_2_1_1 "drt_count_2_1(1)") (joined
           (portRef O (instanceRef drt_count_2_1_s_1))
           (portRef D (instanceRef drt_count_1))
          ))
          (net (rename un9_drt_count_0_data_tmp_1 "un9_drt_count_0_data_tmp(1)") (joined
           (portRef LO (instanceRef un9_drt_count_0_I_12))
           (portRef CI (instanceRef un9_drt_count_0_I_23))
          ))
          (net (rename drt_count_2_1_axbZ0Z_2 "drt_count_2_1_axb_2") (joined
           (portRef LO (instanceRef drt_count_2_1_axb_2))
           (portRef S (instanceRef drt_count_2_1_cry_2))
           (portRef LI (instanceRef drt_count_2_1_s_2))
          ))
          (net (rename drt_count_2_1_axbZ0Z_3 "drt_count_2_1_axb_3") (joined
           (portRef LO (instanceRef drt_count_2_1_axb_3))
           (portRef S (instanceRef drt_count_2_1_cry_3))
           (portRef LI (instanceRef drt_count_2_1_s_3))
          ))
          (net (rename drt_count_2_1_axbZ0Z_4 "drt_count_2_1_axb_4") (joined
           (portRef LO (instanceRef drt_count_2_1_axb_4))
           (portRef S (instanceRef drt_count_2_1_cry_4))
           (portRef LI (instanceRef drt_count_2_1_s_4))
          ))
          (net (rename drt_count_2_1_axbZ0Z_5 "drt_count_2_1_axb_5") (joined
           (portRef LO (instanceRef drt_count_2_1_axb_5))
           (portRef S (instanceRef drt_count_2_1_cry_5))
           (portRef LI (instanceRef drt_count_2_1_s_5))
          ))
          (net (rename drt_count_2_1_axbZ0Z_6 "drt_count_2_1_axb_6") (joined
           (portRef LO (instanceRef drt_count_2_1_axb_6))
           (portRef S (instanceRef drt_count_2_1_cry_6))
           (portRef LI (instanceRef drt_count_2_1_s_6))
          ))
          (net (rename drt_count_2_1_axbZ0Z_7 "drt_count_2_1_axb_7") (joined
           (portRef LO (instanceRef drt_count_2_1_axb_7))
           (portRef LI (instanceRef drt_count_2_1_s_7))
          ))
          (net (rename drt_count_2_1_axbZ0Z_0 "drt_count_2_1_axb_0") (joined
           (portRef LO (instanceRef drt_count_2_1_axb_0))
           (portRef S (instanceRef drt_count_2_1_cry_0))
           (portRef LI (instanceRef drt_count_2_1_s_0))
          ))
          (net (rename drt_count_2_1_axbZ0Z_1 "drt_count_2_1_axb_1") (joined
           (portRef LO (instanceRef drt_count_2_1_axb_1))
           (portRef S (instanceRef drt_count_2_1_cry_1))
           (portRef LI (instanceRef drt_count_2_1_s_1))
          ))
          (net (rename delay_0 "DELAY(0)") (joined
           (portRef (member DELAY 7))
           (portRef I0 (instanceRef drt_count_2_lt0))
           (portRef I0 (instanceRef un9_drt_count_0_I_11))
           (portRef I0 (instanceRef drt_count_2_df0))
          ))
          (net (rename delay_1 "DELAY(1)") (joined
           (portRef (member DELAY 6))
           (portRef I1 (instanceRef drt_count_2_lt0))
           (portRef I1 (instanceRef un9_drt_count_0_I_11))
           (portRef I1 (instanceRef drt_count_2_df0))
          ))
          (net (rename delay_2 "DELAY(2)") (joined
           (portRef (member DELAY 5))
           (portRef I0 (instanceRef drt_count_2_lt2))
           (portRef I2 (instanceRef un9_drt_count_0_I_11))
           (portRef I0 (instanceRef drt_count_2_df2))
          ))
          (net un9_drt_count_0_N_22 (joined
           (portRef O (instanceRef un9_drt_count_0_I_11))
           (portRef S (instanceRef un9_drt_count_0_I_1))
          ))
          (net (rename delay_3 "DELAY(3)") (joined
           (portRef (member DELAY 4))
           (portRef I1 (instanceRef drt_count_2_lt2))
           (portRef I0 (instanceRef un9_drt_count_0_I_22))
           (portRef I1 (instanceRef drt_count_2_df2))
          ))
          (net (rename delay_4 "DELAY(4)") (joined
           (portRef (member DELAY 3))
           (portRef I0 (instanceRef drt_count_2_lt4))
           (portRef I1 (instanceRef un9_drt_count_0_I_22))
           (portRef I0 (instanceRef drt_count_2_df4))
          ))
          (net (rename delay_5 "DELAY(5)") (joined
           (portRef (member DELAY 2))
           (portRef I1 (instanceRef drt_count_2_lt4))
           (portRef I2 (instanceRef un9_drt_count_0_I_22))
           (portRef I1 (instanceRef drt_count_2_df4))
          ))
          (net un9_drt_count_0_N_12 (joined
           (portRef O (instanceRef un9_drt_count_0_I_22))
           (portRef S (instanceRef un9_drt_count_0_I_12))
          ))
          (net (rename drt_count_2_1_cryZ0Z_6 "drt_count_2_1_cry_6") (joined
           (portRef LO (instanceRef drt_count_2_1_cry_6))
           (portRef CI (instanceRef drt_count_2_1_s_7))
          ))
          (net (rename drt_count_2_1_cryZ0Z_5 "drt_count_2_1_cry_5") (joined
           (portRef LO (instanceRef drt_count_2_1_cry_5))
           (portRef CI (instanceRef drt_count_2_1_cry_6))
           (portRef CI (instanceRef drt_count_2_1_s_6))
          ))
          (net (rename GNDZ0 "GND") (joined
           (portRef G (instanceRef GND))
           (portRef DI (instanceRef un9_drt_count_0_I_1))
           (portRef DI (instanceRef un9_drt_count_0_I_12))
           (portRef CI (instanceRef drt_count_2_cry_0))
           (portRef DI (instanceRef drt_count_2_1_cry_0))
           (portRef DI (instanceRef drt_count_2_1_cry_1))
           (portRef DI (instanceRef drt_count_2_1_cry_2))
           (portRef DI (instanceRef drt_count_2_1_cry_3))
           (portRef DI (instanceRef drt_count_2_1_cry_4))
           (portRef DI (instanceRef drt_count_2_1_cry_5))
           (portRef DI (instanceRef drt_count_2_1_cry_6))
           (portRef DI (instanceRef un9_drt_count_0_I_23))
          ))
          (net (rename drt_count_2_1_cryZ0Z_4 "drt_count_2_1_cry_4") (joined
           (portRef LO (instanceRef drt_count_2_1_cry_4))
           (portRef CI (instanceRef drt_count_2_1_cry_5))
           (portRef CI (instanceRef drt_count_2_1_s_5))
          ))
          (net (rename drt_count_2_1_cryZ0Z_3 "drt_count_2_1_cry_3") (joined
           (portRef LO (instanceRef drt_count_2_1_cry_3))
           (portRef CI (instanceRef drt_count_2_1_cry_4))
           (portRef CI (instanceRef drt_count_2_1_s_4))
          ))
          (net (rename drt_count_2_1_cryZ0Z_2 "drt_count_2_1_cry_2") (joined
           (portRef LO (instanceRef drt_count_2_1_cry_2))
           (portRef CI (instanceRef drt_count_2_1_cry_3))
           (portRef CI (instanceRef drt_count_2_1_s_3))
          ))
          (net (rename drt_count_2_1_cryZ0Z_1 "drt_count_2_1_cry_1") (joined
           (portRef LO (instanceRef drt_count_2_1_cry_1))
           (portRef CI (instanceRef drt_count_2_1_cry_2))
           (portRef CI (instanceRef drt_count_2_1_s_2))
          ))
          (net (rename drt_count_2_1_cryZ0Z_0 "drt_count_2_1_cry_0") (joined
           (portRef LO (instanceRef drt_count_2_1_cry_0))
           (portRef CI (instanceRef drt_count_2_1_cry_1))
           (portRef CI (instanceRef drt_count_2_1_s_1))
          ))
          (net (rename drt_countZ0Z_2 "drt_count_2") (joined
           (portRef LO (instanceRef drt_count_2_cry_6))
           (portRef CI (instanceRef drt_count_2_1_cry_0))
           (portRef CI (instanceRef drt_count_2_1_s_0))
          ))
          (net (rename drt_count_2_ltZ0Z6 "drt_count_2_lt6") (joined
           (portRef O (instanceRef drt_count_2_lt6))
           (portRef DI (instanceRef drt_count_2_cry_6))
          ))
          (net (rename drt_count_2_cryZ0Z_4 "drt_count_2_cry(4)") (joined
           (portRef LO (instanceRef drt_count_2_cry_4))
           (portRef CI (instanceRef drt_count_2_cry_6))
          ))
          (net (rename drt_count_2_ltZ0Z4 "drt_count_2_lt4") (joined
           (portRef O (instanceRef drt_count_2_lt4))
           (portRef DI (instanceRef drt_count_2_cry_4))
          ))
          (net (rename drt_count_2_cryZ0Z_2 "drt_count_2_cry(2)") (joined
           (portRef LO (instanceRef drt_count_2_cry_2))
           (portRef CI (instanceRef drt_count_2_cry_4))
          ))
          (net (rename drt_count_2_ltZ0Z2 "drt_count_2_lt2") (joined
           (portRef O (instanceRef drt_count_2_lt2))
           (portRef DI (instanceRef drt_count_2_cry_2))
          ))
          (net (rename drt_count_2_cryZ0Z_0 "drt_count_2_cry(0)") (joined
           (portRef LO (instanceRef drt_count_2_cry_0))
           (portRef CI (instanceRef drt_count_2_cry_2))
          ))
          (net (rename drt_count_2_ltZ0Z0 "drt_count_2_lt0") (joined
           (portRef O (instanceRef drt_count_2_lt0))
           (portRef DI (instanceRef drt_count_2_cry_0))
          ))
          (net (rename un9_drt_count_0_data_tmp_0 "un9_drt_count_0_data_tmp(0)") (joined
           (portRef LO (instanceRef un9_drt_count_0_I_1))
           (portRef CI (instanceRef un9_drt_count_0_I_12))
          ))
          (net (rename VCCZ0 "VCC") (joined
           (portRef P (instanceRef VCC))
           (portRef CI (instanceRef un9_drt_count_0_I_1))
          ))
         )
       )
    )
    (cell FPGA_STARTUP8 (cellType GENERIC)
       (view structure (viewType NETLIST)
         (interface
           (port (array (rename DELAY "DELAY(7:0)") 8) (direction INPUT))
           (port CLK (direction INPUT)
 )
           (port INIT (direction OUTPUT))
         )
         (contents
          (instance U_FPGA_STARTUP8_CTRL (viewRef netlist (cellRef FPGA_STARTUP8_CTRL))
          )
          (net (rename clk "CLK") (joined
           (portRef CLK)
           (portRef CLK (instanceRef U_FPGA_STARTUP8_CTRL))
          ))
          (net (rename delay_0 "DELAY(0)") (joined
           (portRef (member DELAY 7))
           (portRef (member DELAY 7) (instanceRef U_FPGA_STARTUP8_CTRL))
          ))
          (net (rename delay_1 "DELAY(1)") (joined
           (portRef (member DELAY 6))
           (portRef (member DELAY 6) (instanceRef U_FPGA_STARTUP8_CTRL))
          ))
          (net (rename delay_2 "DELAY(2)") (joined
           (portRef (member DELAY 5))
           (portRef (member DELAY 5) (instanceRef U_FPGA_STARTUP8_CTRL))
          ))
          (net (rename delay_3 "DELAY(3)") (joined
           (portRef (member DELAY 4))
           (portRef (member DELAY 4) (instanceRef U_FPGA_STARTUP8_CTRL))
          ))
          (net (rename delay_4 "DELAY(4)") (joined
           (portRef (member DELAY 3))
           (portRef (member DELAY 3) (instanceRef U_FPGA_STARTUP8_CTRL))
          ))
          (net (rename delay_5 "DELAY(5)") (joined
           (portRef (member DELAY 2))
           (portRef (member DELAY 2) (instanceRef U_FPGA_STARTUP8_CTRL))
          ))
          (net (rename delay_6 "DELAY(6)") (joined
           (portRef (member DELAY 1))
           (portRef (member DELAY 1) (instanceRef U_FPGA_STARTUP8_CTRL))
          ))
          (net (rename delay_7 "DELAY(7)") (joined
           (portRef (member DELAY 0))
           (portRef (member DELAY 0) (instanceRef U_FPGA_STARTUP8_CTRL))
          ))
          (net (rename init "INIT") (joined
           (portRef INIT (instanceRef U_FPGA_STARTUP8_CTRL))
           (portRef INIT)
          ))
         )
       )
    )
  )
  (design FPGA_STARTUP8 (cellRef FPGA_STARTUP8 (libraryRef work))
	(property PART (string "xc6slx16csg324-2") (owner "Xilinx")))
)
