(edif LD16B
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2010 3 29 13 7 5)
      (author "Synopsys, Inc.")
      (program "Synplify" (version "D-2010.03, mapper map510rc, Build 068R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LD (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port G (direction INPUT)
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LD16B (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port (array (rename D "D(15:0)") 16) (direction INPUT))
           (port (array (rename Q "Q(15:0)") 16) (direction OUTPUT))
           (port G (direction INPUT))
         )
         (contents
          (instance (rename QZ0Z_15 "Q[15]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_0 "Q[0]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_1 "Q[1]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_2 "Q[2]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_3 "Q[3]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_4 "Q[4]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_5 "Q[5]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_6 "Q[6]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_7 "Q[7]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_8 "Q[8]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_9 "Q[9]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_10 "Q[10]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_11 "Q[11]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_12 "Q[12]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_13 "Q[13]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_14 "Q[14]") (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (net (rename d_0 "D(0)") (joined
           (portRef (member D 15))
           (portRef D (instanceRef QZ0Z_0))
          ))
          (net (rename d_1 "D(1)") (joined
           (portRef (member D 14))
           (portRef D (instanceRef QZ0Z_1))
          ))
          (net (rename d_2 "D(2)") (joined
           (portRef (member D 13))
           (portRef D (instanceRef QZ0Z_2))
          ))
          (net (rename d_3 "D(3)") (joined
           (portRef (member D 12))
           (portRef D (instanceRef QZ0Z_3))
          ))
          (net (rename d_4 "D(4)") (joined
           (portRef (member D 11))
           (portRef D (instanceRef QZ0Z_4))
          ))
          (net (rename d_5 "D(5)") (joined
           (portRef (member D 10))
           (portRef D (instanceRef QZ0Z_5))
          ))
          (net (rename d_6 "D(6)") (joined
           (portRef (member D 9))
           (portRef D (instanceRef QZ0Z_6))
          ))
          (net (rename d_7 "D(7)") (joined
           (portRef (member D 8))
           (portRef D (instanceRef QZ0Z_7))
          ))
          (net (rename d_8 "D(8)") (joined
           (portRef (member D 7))
           (portRef D (instanceRef QZ0Z_8))
          ))
          (net (rename d_9 "D(9)") (joined
           (portRef (member D 6))
           (portRef D (instanceRef QZ0Z_9))
          ))
          (net (rename d_10 "D(10)") (joined
           (portRef (member D 5))
           (portRef D (instanceRef QZ0Z_10))
          ))
          (net (rename d_11 "D(11)") (joined
           (portRef (member D 4))
           (portRef D (instanceRef QZ0Z_11))
          ))
          (net (rename d_12 "D(12)") (joined
           (portRef (member D 3))
           (portRef D (instanceRef QZ0Z_12))
          ))
          (net (rename d_13 "D(13)") (joined
           (portRef (member D 2))
           (portRef D (instanceRef QZ0Z_13))
          ))
          (net (rename d_14 "D(14)") (joined
           (portRef (member D 1))
           (portRef D (instanceRef QZ0Z_14))
          ))
          (net (rename d_15 "D(15)") (joined
           (portRef (member D 0))
           (portRef D (instanceRef QZ0Z_15))
          ))
          (net (rename g "G") (joined
           (portRef G)
           (portRef G (instanceRef QZ0Z_14))
           (portRef G (instanceRef QZ0Z_13))
           (portRef G (instanceRef QZ0Z_12))
           (portRef G (instanceRef QZ0Z_11))
           (portRef G (instanceRef QZ0Z_10))
           (portRef G (instanceRef QZ0Z_9))
           (portRef G (instanceRef QZ0Z_8))
           (portRef G (instanceRef QZ0Z_7))
           (portRef G (instanceRef QZ0Z_6))
           (portRef G (instanceRef QZ0Z_5))
           (portRef G (instanceRef QZ0Z_4))
           (portRef G (instanceRef QZ0Z_3))
           (portRef G (instanceRef QZ0Z_2))
           (portRef G (instanceRef QZ0Z_1))
           (portRef G (instanceRef QZ0Z_0))
           (portRef G (instanceRef QZ0Z_15))
          ))
          (net (rename q_0 "Q(0)") (joined
           (portRef Q (instanceRef QZ0Z_0))
           (portRef (member Q 15))
          ))
          (net (rename q_1 "Q(1)") (joined
           (portRef Q (instanceRef QZ0Z_1))
           (portRef (member Q 14))
          ))
          (net (rename q_2 "Q(2)") (joined
           (portRef Q (instanceRef QZ0Z_2))
           (portRef (member Q 13))
          ))
          (net (rename q_3 "Q(3)") (joined
           (portRef Q (instanceRef QZ0Z_3))
           (portRef (member Q 12))
          ))
          (net (rename q_4 "Q(4)") (joined
           (portRef Q (instanceRef QZ0Z_4))
           (portRef (member Q 11))
          ))
          (net (rename q_5 "Q(5)") (joined
           (portRef Q (instanceRef QZ0Z_5))
           (portRef (member Q 10))
          ))
          (net (rename q_6 "Q(6)") (joined
           (portRef Q (instanceRef QZ0Z_6))
           (portRef (member Q 9))
          ))
          (net (rename q_7 "Q(7)") (joined
           (portRef Q (instanceRef QZ0Z_7))
           (portRef (member Q 8))
          ))
          (net (rename q_8 "Q(8)") (joined
           (portRef Q (instanceRef QZ0Z_8))
           (portRef (member Q 7))
          ))
          (net (rename q_9 "Q(9)") (joined
           (portRef Q (instanceRef QZ0Z_9))
           (portRef (member Q 6))
          ))
          (net (rename q_10 "Q(10)") (joined
           (portRef Q (instanceRef QZ0Z_10))
           (portRef (member Q 5))
          ))
          (net (rename q_11 "Q(11)") (joined
           (portRef Q (instanceRef QZ0Z_11))
           (portRef (member Q 4))
          ))
          (net (rename q_12 "Q(12)") (joined
           (portRef Q (instanceRef QZ0Z_12))
           (portRef (member Q 3))
          ))
          (net (rename q_13 "Q(13)") (joined
           (portRef Q (instanceRef QZ0Z_13))
           (portRef (member Q 2))
          ))
          (net (rename q_14 "Q(14)") (joined
           (portRef Q (instanceRef QZ0Z_14))
           (portRef (member Q 1))
          ))
          (net (rename q_15 "Q(15)") (joined
           (portRef Q (instanceRef QZ0Z_15))
           (portRef (member Q 0))
          ))
         )
       )
    )
  )
  (design LD16B (cellRef LD16B (libraryRef work))
	(property PART (string "xc6slx9csg225-2") (owner "Xilinx")))
)
