(edif M1_S2S1
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2010 3 29 14 1 8)
      (author "Synopsys, Inc.")
      (program "Synplify" (version "D-2010.03, mapper map510rc, Build 068R"))
     )
   )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT3 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell M1_S2S1 (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port S0 (direction INPUT))
           (port D0 (direction INPUT))
           (port D1 (direction INPUT))
           (port O (direction OUTPUT))
         )
         (contents
          (instance (rename OZ0 "O") (viewRef PRIM (cellRef LUT3 (libraryRef VIRTEX)))
           (property INIT (string "CA"))
          )
          (net (rename s0 "S0") (joined
           (portRef S0)
           (portRef I2 (instanceRef OZ0))
          ))
          (net (rename d0 "D0") (joined
           (portRef D0)
           (portRef I0 (instanceRef OZ0))
          ))
          (net (rename d1 "D1") (joined
           (portRef D1)
           (portRef I1 (instanceRef OZ0))
          ))
          (net (rename o "O") (joined
           (portRef O (instanceRef OZ0))
           (portRef O)
          ))
         )
       )
    )
  )
  (design M1_S2S1 (cellRef M1_S2S1 (libraryRef work))
	(property PART (string "xc6slx9csg225-2") (owner "Xilinx")))
)
