(edif M2_S2S1
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2010 3 29 14 15 19)
      (author "Synopsys, Inc.")
      (program "Synplify" (version "D-2010.03, mapper map510rc, Build 068R"))
     )
   )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT3 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell M2_S2S1 (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port S0 (direction INPUT))
           (port A0 (direction INPUT))
           (port A1 (direction INPUT))
           (port B0 (direction INPUT))
           (port B1 (direction INPUT))
           (port Y0 (direction OUTPUT))
           (port Y1 (direction OUTPUT))
         )
         (contents
          (instance Y0_lut6_2_o6 (viewRef PRIM (cellRef LUT3 (libraryRef VIRTEX)))
           (property INIT (string "CA"))
           (property HLUTNM (string "M2_S2S1_lutnm000101"))
          )
          (instance Y0_lut6_2_o5 (viewRef PRIM (cellRef LUT3 (libraryRef VIRTEX)))
           (property INIT (string "E4"))
           (property HLUTNM (string "M2_S2S1_lutnm000101"))
          )
          (net (rename s0 "S0") (joined
           (portRef S0)
           (portRef I0 (instanceRef Y0_lut6_2_o5))
           (portRef I2 (instanceRef Y0_lut6_2_o6))
          ))
          (net (rename a0 "A0") (joined
           (portRef A0)
           (portRef I0 (instanceRef Y0_lut6_2_o6))
          ))
          (net (rename a1 "A1") (joined
           (portRef A1)
           (portRef I1 (instanceRef Y0_lut6_2_o5))
          ))
          (net (rename b0 "B0") (joined
           (portRef B0)
           (portRef I1 (instanceRef Y0_lut6_2_o6))
          ))
          (net (rename b1 "B1") (joined
           (portRef B1)
           (portRef I2 (instanceRef Y0_lut6_2_o5))
          ))
          (net (rename y0 "Y0") (joined
           (portRef O (instanceRef Y0_lut6_2_o6))
           (portRef Y0)
          ))
          (net (rename y1 "Y1") (joined
           (portRef O (instanceRef Y0_lut6_2_o5))
           (portRef Y1)
          ))
         )
       )
    )
  )
  (design M2_S2S1 (cellRef M2_S2S1 (libraryRef work))
	(property PART (string "xc6slx9csg225-2") (owner "Xilinx")))
)
