(edif PRTIO2X8_W
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2010 4 25 1 16 32)
      (author "Synopsys, Inc.")
      (program "Synplify" (version "D-2010.03, mapper map510rc, Build 068R"))
      (comment "Core Revision: 1.00.00")
     )
   )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT4 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port I3 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell LUT3 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell LUT2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FDRE (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
           (port R (direction INPUT))
           (port CE (direction INPUT))
         )
        (property INIT (integer 0))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell ioport2x8_w (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port (array (rename PBO "PBO(7:0)") 8) (direction OUTPUT))
           (port (array (rename DAT_I "DAT_I(7:0)") 8) (direction INPUT))
           (port (array (rename PAO "PAO(7:0)") 8) (direction OUTPUT))
           (port (array (rename DAT_O "DAT_O(7:0)") 8) (direction OUTPUT))
           (port (array (rename PBI "PBI(7:0)") 8) (direction INPUT))
           (port (array (rename PAI "PAI(7:0)") 8) (direction INPUT))
           (port RST_I (direction INPUT))
           (port CLK_I (direction INPUT))
           (port ACK_O (direction OUTPUT))
           (port WE_I (direction INPUT))
           (port ADR_I (direction INPUT))
           (port STB_I (direction INPUT))
           (port CYC_I (direction INPUT))
         )
         (contents
          (instance un3_en (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "4000"))
          )
          (instance (rename port0_7 "port0[7]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port0_6 "port0[6]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port0_5 "port0[5]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port0_4 "port0[4]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port0_3 "port0[3]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port0_2 "port0[2]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port0_1 "port0[1]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port0_0 "port0[0]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port1_7 "port1[7]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port1_6 "port1[6]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port1_5 "port1[5]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port1_4 "port1[4]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port1_3 "port1[3]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port1_2 "port1[2]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port1_1 "port1[1]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename port1_0 "port1[0]") (viewRef PRIM (cellRef FDRE (libraryRef UNILIB)))
          )
          (instance (rename dat_o_lut6_2_o6_3 "dat_o_lut6_2_o6[3]") (viewRef PRIM (cellRef LUT3 (libraryRef VIRTEX)))
           (property INIT (string "E4"))
           (property HLUTNM (string "PRTIO2X8_W_lutnm000105"))
          )
          (instance (rename dat_o_lut6_2_o5_3 "dat_o_lut6_2_o5[3]") (viewRef PRIM (cellRef LUT3 (libraryRef VIRTEX)))
           (property INIT (string "E4"))
           (property HLUTNM (string "PRTIO2X8_W_lutnm000105"))
          )
          (instance (rename dat_o_lut6_2_o6_2 "dat_o_lut6_2_o6[2]") (viewRef PRIM (cellRef LUT3 (libraryRef VIRTEX)))
           (property INIT (string "E4"))
           (property HLUTNM (string "PRTIO2X8_W_lutnm000106"))
          )
          (instance (rename dat_o_lut6_2_o5_2 "dat_o_lut6_2_o5[2]") (viewRef PRIM (cellRef LUT3 (libraryRef VIRTEX)))
           (property INIT (string "E4"))
           (property HLUTNM (string "PRTIO2X8_W_lutnm000106"))
          )
          (instance (rename dat_o_lut6_2_o6_1 "dat_o_lut6_2_o6[1]") (viewRef PRIM (cellRef LUT3 (libraryRef VIRTEX)))
           (property INIT (string "E4"))
           (property HLUTNM (string "PRTIO2X8_W_lutnm000107"))
          )
          (instance (rename dat_o_lut6_2_o5_1 "dat_o_lut6_2_o5[1]") (viewRef PRIM (cellRef LUT3 (libraryRef VIRTEX)))
           (property INIT (string "E4"))
           (property HLUTNM (string "PRTIO2X8_W_lutnm000107"))
          )
          (instance (rename dat_o_lut6_2_o6_0 "dat_o_lut6_2_o6[0]") (viewRef PRIM (cellRef LUT3 (libraryRef VIRTEX)))
           (property INIT (string "E4"))
           (property HLUTNM (string "PRTIO2X8_W_lutnm000108"))
          )
          (instance (rename dat_o_lut6_2_o5_0 "dat_o_lut6_2_o5[0]") (viewRef PRIM (cellRef LUT3 (libraryRef VIRTEX)))
           (property INIT (string "E4"))
           (property HLUTNM (string "PRTIO2X8_W_lutnm000108"))
          )
          (instance ack_o_lut6_2_o6 (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property INIT (string "8"))
           (property HLUTNM (string "PRTIO2X8_W_lutnm000109"))
          )
          (instance ack_o_lut6_2_o5 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "8000"))
           (property HLUTNM (string "PRTIO2X8_W_lutnm000109"))
          )
          (net (rename ack_o "ACK_O") (joined
           (portRef O (instanceRef ack_o_lut6_2_o6))
           (portRef ACK_O)
          ))
          (net (rename ack_o_lut6_2_OZ0Z5 "ack_o_lut6_2_O5") (joined
           (portRef O (instanceRef ack_o_lut6_2_o5))
           (portRef CE (instanceRef port1_0))
           (portRef CE (instanceRef port1_1))
           (portRef CE (instanceRef port1_2))
           (portRef CE (instanceRef port1_3))
           (portRef CE (instanceRef port1_4))
           (portRef CE (instanceRef port1_5))
           (portRef CE (instanceRef port1_6))
           (portRef CE (instanceRef port1_7))
          ))
          (net (rename adr_i "ADR_I") (joined
           (portRef ADR_I)
           (portRef I2 (instanceRef ack_o_lut6_2_o5))
           (portRef I0 (instanceRef dat_o_lut6_2_o5_0))
           (portRef I0 (instanceRef dat_o_lut6_2_o6_0))
           (portRef I0 (instanceRef dat_o_lut6_2_o5_1))
           (portRef I0 (instanceRef dat_o_lut6_2_o6_1))
           (portRef I0 (instanceRef dat_o_lut6_2_o5_2))
           (portRef I0 (instanceRef dat_o_lut6_2_o6_2))
           (portRef I0 (instanceRef dat_o_lut6_2_o5_3))
           (portRef I0 (instanceRef dat_o_lut6_2_o6_3))
           (portRef I0 (instanceRef un3_en))
          ))
          (net (rename pai_0 "PAI(0)") (joined
           (portRef (member PAI 7))
           (portRef I1 (instanceRef dat_o_lut6_2_o6_0))
          ))
          (net (rename pbi_0 "PBI(0)") (joined
           (portRef (member PBI 7))
           (portRef I2 (instanceRef dat_o_lut6_2_o6_0))
          ))
          (net (rename pai_6 "PAI(6)") (joined
           (portRef (member PAI 1))
           (portRef I1 (instanceRef dat_o_lut6_2_o5_0))
          ))
          (net (rename pbi_6 "PBI(6)") (joined
           (portRef (member PBI 1))
           (portRef I2 (instanceRef dat_o_lut6_2_o5_0))
          ))
          (net (rename dat_o_0 "DAT_O(0)") (joined
           (portRef O (instanceRef dat_o_lut6_2_o6_0))
           (portRef (member DAT_O 7))
          ))
          (net (rename dat_o_6 "DAT_O(6)") (joined
           (portRef O (instanceRef dat_o_lut6_2_o5_0))
           (portRef (member DAT_O 1))
          ))
          (net (rename pai_1 "PAI(1)") (joined
           (portRef (member PAI 6))
           (portRef I1 (instanceRef dat_o_lut6_2_o6_1))
          ))
          (net (rename pbi_1 "PBI(1)") (joined
           (portRef (member PBI 6))
           (portRef I2 (instanceRef dat_o_lut6_2_o6_1))
          ))
          (net (rename pai_5 "PAI(5)") (joined
           (portRef (member PAI 2))
           (portRef I1 (instanceRef dat_o_lut6_2_o5_1))
          ))
          (net (rename pbi_5 "PBI(5)") (joined
           (portRef (member PBI 2))
           (portRef I2 (instanceRef dat_o_lut6_2_o5_1))
          ))
          (net (rename dat_o_1 "DAT_O(1)") (joined
           (portRef O (instanceRef dat_o_lut6_2_o6_1))
           (portRef (member DAT_O 6))
          ))
          (net (rename dat_o_5 "DAT_O(5)") (joined
           (portRef O (instanceRef dat_o_lut6_2_o5_1))
           (portRef (member DAT_O 2))
          ))
          (net (rename pai_2 "PAI(2)") (joined
           (portRef (member PAI 5))
           (portRef I1 (instanceRef dat_o_lut6_2_o6_2))
          ))
          (net (rename pbi_2 "PBI(2)") (joined
           (portRef (member PBI 5))
           (portRef I2 (instanceRef dat_o_lut6_2_o6_2))
          ))
          (net (rename pai_4 "PAI(4)") (joined
           (portRef (member PAI 3))
           (portRef I1 (instanceRef dat_o_lut6_2_o5_2))
          ))
          (net (rename pbi_4 "PBI(4)") (joined
           (portRef (member PBI 3))
           (portRef I2 (instanceRef dat_o_lut6_2_o5_2))
          ))
          (net (rename dat_o_2 "DAT_O(2)") (joined
           (portRef O (instanceRef dat_o_lut6_2_o6_2))
           (portRef (member DAT_O 5))
          ))
          (net (rename dat_o_4 "DAT_O(4)") (joined
           (portRef O (instanceRef dat_o_lut6_2_o5_2))
           (portRef (member DAT_O 3))
          ))
          (net (rename pai_3 "PAI(3)") (joined
           (portRef (member PAI 4))
           (portRef I1 (instanceRef dat_o_lut6_2_o6_3))
          ))
          (net (rename pbi_3 "PBI(3)") (joined
           (portRef (member PBI 4))
           (portRef I2 (instanceRef dat_o_lut6_2_o6_3))
          ))
          (net (rename pai_7 "PAI(7)") (joined
           (portRef (member PAI 0))
           (portRef I1 (instanceRef dat_o_lut6_2_o5_3))
          ))
          (net (rename pbi_7 "PBI(7)") (joined
           (portRef (member PBI 0))
           (portRef I2 (instanceRef dat_o_lut6_2_o5_3))
          ))
          (net (rename dat_o_3 "DAT_O(3)") (joined
           (portRef O (instanceRef dat_o_lut6_2_o6_3))
           (portRef (member DAT_O 4))
          ))
          (net (rename dat_o_7 "DAT_O(7)") (joined
           (portRef O (instanceRef dat_o_lut6_2_o5_3))
           (portRef (member DAT_O 0))
          ))
          (net (rename cyc_i "CYC_I") (joined
           (portRef CYC_I)
           (portRef I0 (instanceRef ack_o_lut6_2_o5))
           (portRef I0 (instanceRef ack_o_lut6_2_o6))
           (portRef I1 (instanceRef un3_en))
          ))
          (net (rename stb_i "STB_I") (joined
           (portRef STB_I)
           (portRef I1 (instanceRef ack_o_lut6_2_o5))
           (portRef I1 (instanceRef ack_o_lut6_2_o6))
           (portRef I2 (instanceRef un3_en))
          ))
          (net (rename we_i "WE_I") (joined
           (portRef WE_I)
           (portRef I3 (instanceRef ack_o_lut6_2_o5))
           (portRef I3 (instanceRef un3_en))
          ))
          (net (rename un3_enZ0 "un3_en") (joined
           (portRef O (instanceRef un3_en))
           (portRef CE (instanceRef port0_0))
           (portRef CE (instanceRef port0_1))
           (portRef CE (instanceRef port0_2))
           (portRef CE (instanceRef port0_3))
           (portRef CE (instanceRef port0_4))
           (portRef CE (instanceRef port0_5))
           (portRef CE (instanceRef port0_6))
           (portRef CE (instanceRef port0_7))
          ))
          (net (rename pao_7 "PAO(7)") (joined
           (portRef Q (instanceRef port0_7))
           (portRef (member PAO 0))
          ))
          (net (rename pao_6 "PAO(6)") (joined
           (portRef Q (instanceRef port0_6))
           (portRef (member PAO 1))
          ))
          (net (rename clk_i "CLK_I") (joined
           (portRef CLK_I)
           (portRef C (instanceRef port1_0))
           (portRef C (instanceRef port1_1))
           (portRef C (instanceRef port1_2))
           (portRef C (instanceRef port1_3))
           (portRef C (instanceRef port1_4))
           (portRef C (instanceRef port1_5))
           (portRef C (instanceRef port1_6))
           (portRef C (instanceRef port1_7))
           (portRef C (instanceRef port0_0))
           (portRef C (instanceRef port0_1))
           (portRef C (instanceRef port0_2))
           (portRef C (instanceRef port0_3))
           (portRef C (instanceRef port0_4))
           (portRef C (instanceRef port0_5))
           (portRef C (instanceRef port0_6))
           (portRef C (instanceRef port0_7))
          ))
          (net (rename rst_i "RST_I") (joined
           (portRef RST_I)
           (portRef R (instanceRef port1_0))
           (portRef R (instanceRef port1_1))
           (portRef R (instanceRef port1_2))
           (portRef R (instanceRef port1_3))
           (portRef R (instanceRef port1_4))
           (portRef R (instanceRef port1_5))
           (portRef R (instanceRef port1_6))
           (portRef R (instanceRef port1_7))
           (portRef R (instanceRef port0_0))
           (portRef R (instanceRef port0_1))
           (portRef R (instanceRef port0_2))
           (portRef R (instanceRef port0_3))
           (portRef R (instanceRef port0_4))
           (portRef R (instanceRef port0_5))
           (portRef R (instanceRef port0_6))
           (portRef R (instanceRef port0_7))
          ))
          (net (rename pao_5 "PAO(5)") (joined
           (portRef Q (instanceRef port0_5))
           (portRef (member PAO 2))
          ))
          (net (rename pao_4 "PAO(4)") (joined
           (portRef Q (instanceRef port0_4))
           (portRef (member PAO 3))
          ))
          (net (rename pao_3 "PAO(3)") (joined
           (portRef Q (instanceRef port0_3))
           (portRef (member PAO 4))
          ))
          (net (rename pao_2 "PAO(2)") (joined
           (portRef Q (instanceRef port0_2))
           (portRef (member PAO 5))
          ))
          (net (rename pao_1 "PAO(1)") (joined
           (portRef Q (instanceRef port0_1))
           (portRef (member PAO 6))
          ))
          (net (rename pao_0 "PAO(0)") (joined
           (portRef Q (instanceRef port0_0))
           (portRef (member PAO 7))
          ))
          (net (rename pbo_7 "PBO(7)") (joined
           (portRef Q (instanceRef port1_7))
           (portRef (member PBO 0))
          ))
          (net (rename dat_i_7 "DAT_I(7)") (joined
           (portRef (member DAT_I 0))
           (portRef D (instanceRef port1_7))
           (portRef D (instanceRef port0_7))
          ))
          (net (rename pbo_6 "PBO(6)") (joined
           (portRef Q (instanceRef port1_6))
           (portRef (member PBO 1))
          ))
          (net (rename dat_i_6 "DAT_I(6)") (joined
           (portRef (member DAT_I 1))
           (portRef D (instanceRef port1_6))
           (portRef D (instanceRef port0_6))
          ))
          (net (rename pbo_5 "PBO(5)") (joined
           (portRef Q (instanceRef port1_5))
           (portRef (member PBO 2))
          ))
          (net (rename dat_i_5 "DAT_I(5)") (joined
           (portRef (member DAT_I 2))
           (portRef D (instanceRef port1_5))
           (portRef D (instanceRef port0_5))
          ))
          (net (rename pbo_4 "PBO(4)") (joined
           (portRef Q (instanceRef port1_4))
           (portRef (member PBO 3))
          ))
          (net (rename dat_i_4 "DAT_I(4)") (joined
           (portRef (member DAT_I 3))
           (portRef D (instanceRef port1_4))
           (portRef D (instanceRef port0_4))
          ))
          (net (rename pbo_3 "PBO(3)") (joined
           (portRef Q (instanceRef port1_3))
           (portRef (member PBO 4))
          ))
          (net (rename dat_i_3 "DAT_I(3)") (joined
           (portRef (member DAT_I 4))
           (portRef D (instanceRef port1_3))
           (portRef D (instanceRef port0_3))
          ))
          (net (rename pbo_2 "PBO(2)") (joined
           (portRef Q (instanceRef port1_2))
           (portRef (member PBO 5))
          ))
          (net (rename dat_i_2 "DAT_I(2)") (joined
           (portRef (member DAT_I 5))
           (portRef D (instanceRef port1_2))
           (portRef D (instanceRef port0_2))
          ))
          (net (rename pbo_1 "PBO(1)") (joined
           (portRef Q (instanceRef port1_1))
           (portRef (member PBO 6))
          ))
          (net (rename dat_i_1 "DAT_I(1)") (joined
           (portRef (member DAT_I 6))
           (portRef D (instanceRef port1_1))
           (portRef D (instanceRef port0_1))
          ))
          (net (rename pbo_0 "PBO(0)") (joined
           (portRef Q (instanceRef port1_0))
           (portRef (member PBO 7))
          ))
          (net (rename dat_i_0 "DAT_I(0)") (joined
           (portRef (member DAT_I 7))
           (portRef D (instanceRef port1_0))
           (portRef D (instanceRef port0_0))
          ))
         )
       )
    )
    (cell PRTIO2X8_W (cellType GENERIC)
       (view structure (viewType NETLIST)
         (interface
           (port (array (rename DAT_I "DAT_I(7:0)") 8) (direction INPUT))
           (port (array (rename DAT_O "DAT_O(7:0)") 8) (direction OUTPUT))
           (port (array (rename PAI "PAI(7:0)") 8) (direction INPUT))
           (port (array (rename PAO "PAO(7:0)") 8) (direction OUTPUT))
           (port (array (rename PBI "PBI(7:0)") 8) (direction INPUT))
           (port (array (rename PBO "PBO(7:0)") 8) (direction OUTPUT))
           (port ACK_O (direction OUTPUT))
           (port ADR_I (direction INPUT))
           (port CLK_I (direction INPUT)
 )
           (port CYC_I (direction INPUT))
           (port RST_I (direction INPUT))
           (port STB_I (direction INPUT))
           (port WE_I (direction INPUT))
         )
         (contents
          (instance U_ioport2x8_w (viewRef netlist (cellRef ioport2x8_w))
          )
          (net (rename adr_i "ADR_I") (joined
           (portRef ADR_I)
           (portRef ADR_I (instanceRef U_ioport2x8_w))
          ))
          (net (rename clk_i "CLK_I") (joined
           (portRef CLK_I)
           (portRef CLK_I (instanceRef U_ioport2x8_w))
          ))
          (net (rename cyc_i "CYC_I") (joined
           (portRef CYC_I)
           (portRef CYC_I (instanceRef U_ioport2x8_w))
          ))
          (net (rename dat_i_0 "DAT_I(0)") (joined
           (portRef (member DAT_I 7))
           (portRef (member DAT_I 7) (instanceRef U_ioport2x8_w))
          ))
          (net (rename dat_i_1 "DAT_I(1)") (joined
           (portRef (member DAT_I 6))
           (portRef (member DAT_I 6) (instanceRef U_ioport2x8_w))
          ))
          (net (rename dat_i_2 "DAT_I(2)") (joined
           (portRef (member DAT_I 5))
           (portRef (member DAT_I 5) (instanceRef U_ioport2x8_w))
          ))
          (net (rename dat_i_3 "DAT_I(3)") (joined
           (portRef (member DAT_I 4))
           (portRef (member DAT_I 4) (instanceRef U_ioport2x8_w))
          ))
          (net (rename dat_i_4 "DAT_I(4)") (joined
           (portRef (member DAT_I 3))
           (portRef (member DAT_I 3) (instanceRef U_ioport2x8_w))
          ))
          (net (rename dat_i_5 "DAT_I(5)") (joined
           (portRef (member DAT_I 2))
           (portRef (member DAT_I 2) (instanceRef U_ioport2x8_w))
          ))
          (net (rename dat_i_6 "DAT_I(6)") (joined
           (portRef (member DAT_I 1))
           (portRef (member DAT_I 1) (instanceRef U_ioport2x8_w))
          ))
          (net (rename dat_i_7 "DAT_I(7)") (joined
           (portRef (member DAT_I 0))
           (portRef (member DAT_I 0) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pai_0 "PAI(0)") (joined
           (portRef (member PAI 7))
           (portRef (member PAI 7) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pai_1 "PAI(1)") (joined
           (portRef (member PAI 6))
           (portRef (member PAI 6) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pai_2 "PAI(2)") (joined
           (portRef (member PAI 5))
           (portRef (member PAI 5) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pai_3 "PAI(3)") (joined
           (portRef (member PAI 4))
           (portRef (member PAI 4) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pai_4 "PAI(4)") (joined
           (portRef (member PAI 3))
           (portRef (member PAI 3) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pai_5 "PAI(5)") (joined
           (portRef (member PAI 2))
           (portRef (member PAI 2) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pai_6 "PAI(6)") (joined
           (portRef (member PAI 1))
           (portRef (member PAI 1) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pai_7 "PAI(7)") (joined
           (portRef (member PAI 0))
           (portRef (member PAI 0) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pao_0 "PAO(0)") (joined
           (portRef (member PAO 7) (instanceRef U_ioport2x8_w))
           (portRef (member PAO 7))
          ))
          (net (rename pao_1 "PAO(1)") (joined
           (portRef (member PAO 6) (instanceRef U_ioport2x8_w))
           (portRef (member PAO 6))
          ))
          (net (rename pao_2 "PAO(2)") (joined
           (portRef (member PAO 5) (instanceRef U_ioport2x8_w))
           (portRef (member PAO 5))
          ))
          (net (rename pao_3 "PAO(3)") (joined
           (portRef (member PAO 4) (instanceRef U_ioport2x8_w))
           (portRef (member PAO 4))
          ))
          (net (rename pao_4 "PAO(4)") (joined
           (portRef (member PAO 3) (instanceRef U_ioport2x8_w))
           (portRef (member PAO 3))
          ))
          (net (rename pao_5 "PAO(5)") (joined
           (portRef (member PAO 2) (instanceRef U_ioport2x8_w))
           (portRef (member PAO 2))
          ))
          (net (rename pao_6 "PAO(6)") (joined
           (portRef (member PAO 1) (instanceRef U_ioport2x8_w))
           (portRef (member PAO 1))
          ))
          (net (rename pao_7 "PAO(7)") (joined
           (portRef (member PAO 0) (instanceRef U_ioport2x8_w))
           (portRef (member PAO 0))
          ))
          (net (rename pbi_0 "PBI(0)") (joined
           (portRef (member PBI 7))
           (portRef (member PBI 7) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pbi_1 "PBI(1)") (joined
           (portRef (member PBI 6))
           (portRef (member PBI 6) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pbi_2 "PBI(2)") (joined
           (portRef (member PBI 5))
           (portRef (member PBI 5) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pbi_3 "PBI(3)") (joined
           (portRef (member PBI 4))
           (portRef (member PBI 4) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pbi_4 "PBI(4)") (joined
           (portRef (member PBI 3))
           (portRef (member PBI 3) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pbi_5 "PBI(5)") (joined
           (portRef (member PBI 2))
           (portRef (member PBI 2) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pbi_6 "PBI(6)") (joined
           (portRef (member PBI 1))
           (portRef (member PBI 1) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pbi_7 "PBI(7)") (joined
           (portRef (member PBI 0))
           (portRef (member PBI 0) (instanceRef U_ioport2x8_w))
          ))
          (net (rename pbo_0 "PBO(0)") (joined
           (portRef (member PBO 7) (instanceRef U_ioport2x8_w))
           (portRef (member PBO 7))
          ))
          (net (rename pbo_1 "PBO(1)") (joined
           (portRef (member PBO 6) (instanceRef U_ioport2x8_w))
           (portRef (member PBO 6))
          ))
          (net (rename pbo_2 "PBO(2)") (joined
           (portRef (member PBO 5) (instanceRef U_ioport2x8_w))
           (portRef (member PBO 5))
          ))
          (net (rename pbo_3 "PBO(3)") (joined
           (portRef (member PBO 4) (instanceRef U_ioport2x8_w))
           (portRef (member PBO 4))
          ))
          (net (rename pbo_4 "PBO(4)") (joined
           (portRef (member PBO 3) (instanceRef U_ioport2x8_w))
           (portRef (member PBO 3))
          ))
          (net (rename pbo_5 "PBO(5)") (joined
           (portRef (member PBO 2) (instanceRef U_ioport2x8_w))
           (portRef (member PBO 2))
          ))
          (net (rename pbo_6 "PBO(6)") (joined
           (portRef (member PBO 1) (instanceRef U_ioport2x8_w))
           (portRef (member PBO 1))
          ))
          (net (rename pbo_7 "PBO(7)") (joined
           (portRef (member PBO 0) (instanceRef U_ioport2x8_w))
           (portRef (member PBO 0))
          ))
          (net (rename rst_i "RST_I") (joined
           (portRef RST_I)
           (portRef RST_I (instanceRef U_ioport2x8_w))
          ))
          (net (rename stb_i "STB_I") (joined
           (portRef STB_I)
           (portRef STB_I (instanceRef U_ioport2x8_w))
          ))
          (net (rename we_i "WE_I") (joined
           (portRef WE_I)
           (portRef WE_I (instanceRef U_ioport2x8_w))
          ))
          (net (rename ack_o "ACK_O") (joined
           (portRef ACK_O (instanceRef U_ioport2x8_w))
           (portRef ACK_O)
          ))
          (net (rename dat_o_0 "DAT_O(0)") (joined
           (portRef (member DAT_O 7) (instanceRef U_ioport2x8_w))
           (portRef (member DAT_O 7))
          ))
          (net (rename dat_o_1 "DAT_O(1)") (joined
           (portRef (member DAT_O 6) (instanceRef U_ioport2x8_w))
           (portRef (member DAT_O 6))
          ))
          (net (rename dat_o_2 "DAT_O(2)") (joined
           (portRef (member DAT_O 5) (instanceRef U_ioport2x8_w))
           (portRef (member DAT_O 5))
          ))
          (net (rename dat_o_3 "DAT_O(3)") (joined
           (portRef (member DAT_O 4) (instanceRef U_ioport2x8_w))
           (portRef (member DAT_O 4))
          ))
          (net (rename dat_o_4 "DAT_O(4)") (joined
           (portRef (member DAT_O 3) (instanceRef U_ioport2x8_w))
           (portRef (member DAT_O 3))
          ))
          (net (rename dat_o_5 "DAT_O(5)") (joined
           (portRef (member DAT_O 2) (instanceRef U_ioport2x8_w))
           (portRef (member DAT_O 2))
          ))
          (net (rename dat_o_6 "DAT_O(6)") (joined
           (portRef (member DAT_O 1) (instanceRef U_ioport2x8_w))
           (portRef (member DAT_O 1))
          ))
          (net (rename dat_o_7 "DAT_O(7)") (joined
           (portRef (member DAT_O 0) (instanceRef U_ioport2x8_w))
           (portRef (member DAT_O 0))
          ))
         )
       )
    )
  )
  (design PRTIO2X8_W (cellRef PRTIO2X8_W (libraryRef work))
	(property PART (string "xc6slx16csg324-2") (owner "Xilinx")))
)
