(edif XOR2S
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2010 3 29 20 18 8)
      (author "Synopsys, Inc.")
      (program "Synplify" (version "D-2010.03, mapper map510rc, Build 068R"))
     )
   )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR2S (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
         (contents
          (instance O_0 (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property INIT (string "6"))
          )
          (net (rename i0 "I0") (joined
           (portRef I0)
           (portRef I0 (instanceRef O_0))
          ))
          (net (rename i1 "I1") (joined
           (portRef I1)
           (portRef I1 (instanceRef O_0))
          ))
          (net (rename o "O") (joined
           (portRef O (instanceRef O_0))
           (portRef O)
          ))
         )
       )
    )
  )
  (design XOR2S (cellRef XOR2S (libraryRef work))
	(property PART (string "xc6slx9csg225-2") (owner "Xilinx")))
)
